.control-section {
    border: 1px solid #000000;
    background-color: #f4d4ad;
    padding: 10px;
    width: 250px;
    /*margin-top: 15px;*/
    margin-left: 10px;
    height: 465px;
    /*margin-right: 15px;
    */
}

.spacing {
    margin-bottom: 5px;
}

.left {
    margin-left: 0px;
}

.right {
    margin-right: 5px;
}